{% extends "recoveryprofile/base.html" %}

{% block title %}
Profile
{% endblock %}


{% block content %}
<script>
function deleteGoodThing(id) {
	$.post('/delete_good_thing_that_happened/', {'id': id, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, function(data) {
		location.reload();
	});
}
</script>
<div class="d-flex align-items-center p-3 my-3  rounded shadow-sm">
    <div class="lh-100">
      <h3><a id="add_good"></a>Add a good thing that happened  {% if is_for_self %}to you{% else %} to {{ profile_for }}{% endif %}</h3>
	 <form action="/add_good_thing_that_happened_to_{% if is_for_self %}self{% else %}other{% endif %}/" method="post">
	  {% csrf_token %}
	  <input type="hidden" name="profile_for" value="{{ profile_for.username }}">
	 <textarea name="what_happened" style="margin-left:10px;border:1px solid #000;width:90%; height:150px"></textarea>
	 <input type="submit" value="Submit">
	 </form>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded shadow-sm">
	{% load tz %}
	
	 {% if is_for_self %} {% localtime on %}
	 <h6 class="border-bottom border-gray pb-2 mb-0">Good things from your connections</h6>
	 
	 {% for good_thing in following_users_good_things %}
		<div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark"><strong>Who it's about:</strong> @{{ good_thing.who_its_about }} <strong>By:</strong> @{{ good_thing.author}} <strong>Datetime:</strong> {{ good_thing.created_at|localtime|date:"n-j-y g:iA" }} </strong>
        {{ good_thing }}
      </p>
    </div>
	   
	{% endfor %}
	{% endlocaltime %}
	 {% endif %}
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@username</strong>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#e83e8c"/><text x="50%" y="50%" fill="#e83e8c" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@username</strong>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>
    </div>
    <div class="media text-muted pt-3">
      <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#6f42c1"/><text x="50%" y="50%" fill="#6f42c1" dy=".3em">32x32</text></svg>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@username</strong>
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      </p>
    </div>
  </div>

     <h2>{% if is_for_self %}My Profile {{ user }}{% else %} {{ profile_for }}'s profile{% endif %}</h2>
	 <img src="/static/recoveryprofile/thankful_heart.jpg" style="width:200px">
	 <h3>Sections</h3>
	 <ul><li><a href="#add_good">Add a good thing that happened</a></li>
	 <li><a href="#good_things">Good things that happened  {% if is_for_self %}to you{% else %} to {{ profile_for }}{% endif %}</a></li>
	 <li><a href="#profiles_you_can_acccess">Profiles you can access</a></li>
	 <li><a href="#people_who_can_access">People who can acccess your profile</a></li>
	 <li><a href="#add_user_who_can_access_your_profile">Add user who can access your profile</a></li>
	 </ul>
	 
	 {% load tz %}
	 {% localtime on %}
	 {% if is_for_self %}
	 <h3>Your network's Good Things that happened</h3>
	 <ul>
	 {% for good_thing in following_users_good_things %}
		<li><strong>Who it's about:</strong> @{{ good_thing.who_its_about }} <strong>By:</strong> @{{ good_thing.author}} | {{ good_thing }} <strong>Datetime:</strong> {{ good_thing.created_at|localtime|date:"n-j-y g:iA" }} 
		
		</li>
	   
	{% endfor %}
	</ul>
	 {% endif %}
	 <h3><a id="good_things"></a>Good things that happened {% if is_for_self %}to you{% else %} to {{ profile_for }}{% endif %}</h3>
	 
	 <ul>
	 {% for good_thing in good_things_that_happened %}
		<li><strong>By:</strong> {{ good_thing.author}} | {{ good_thing }} <strong>Datetime:</strong> {{ good_thing.created_at|localtime|date:"n-j-y g:iA" }} 
		{% if good_thing.who_its_about == user or good_thing.author == user %}<button onClick="deleteGoodThing({{ good_thing.id }})">Delete</button>
		{% endif %}
		</li>
	   
	{% endfor %}
	</ul>
	{% endlocaltime %}
	<h3><a id="profiles_you_can_acccess"></a>Profiles you can access</h3>
	<ul>
	 {% for profile in profiles_you_can_acccess %}
		<li><a href="/profiles/{{ profile.profile_for }}">{{ profile.profile_for }}</a></li>
	{% endfor %}
	</ul>
	<h3><a id="people_who_can_access"></a>People who can access {% if is_for_self %}your profile{% else %} {{ profile_for }}'s profile{% endif %}</h3>

	<ul>
	 {% for can_access in who_can_access %}
		<li><a href="/profiles/{{ can_access.access_for }}">{{ can_access.access_for }}</a></li>
	{% endfor %}
	</ul>
	{% if is_for_self %}
	<h3><a id="add_user_who_can_access_your_profile"></a>Add user who can access your profile</h3>
	<form action="/add_user_who_can_access_your_profile/" method="post">
	  {% csrf_token %}
	 <label for="add_username">Username</label>
	 <input type="text" id="add_username" name="add_username" />
	 <input type="submit" value="Submit">
	 </form>
	 {% endif %}
{% endblock %}